@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}


/* body{
  background-color: #290149;
} */
.row .col-md-8{
    padding: 0;
    margin: 0;
}
table , .table ,tr{
    max-width: 100%;
    font-size: 14px;
    
}
tbody tr{
    border-bottom: 1px solid #DEE2E6;
}
tbody tr .table_data{
    padding: 15px 0 0;
}
.cart-img{
    border: 1px solid #DEE2E6;
    width: 50px;
    height:50px;
}
.c-cancel-button ,.w-cancel-button{
    outline: none;
    border: none;
    background-color: rgba(223, 223, 223, 0.699);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
}
input.qtyBox{
    width: 30px;
}
.qtyBox , .totalBox , .priceBox{
    width: 40px;
    outline: none;
    border: none;
    background-color:transparent;
    text-align: center;
}

td i{
    color: rgb(77, 77, 77);
}
.quantity{
    width: 25%;
}
.quantity a{
    text-decoration: none;
    font-size: 20px;
    transition: .3s ease-in-out;
    outline: none;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: rgba(223, 223, 223, 0.699);
    width: 30px;
    height: 30px;
    text-align: center;
}










.row{
    margin: 0;
}
.checkout{
    padding: 10px;
    border: 1px solid #290149;
    background-color: #eed9ff;
    font-size: 14px;
    border-radius: 3px;
}
.border-for-checkout{
    border-bottom: 1px solid #290149;
    border-top: 1px solid #290149;
    margin-bottom: 5px;
    padding-top: 10px;
}
.check-out-button{
    text-align: center;
    padding: 0;
    transition: .3s ease-in-out;
    margin-top: 10px;
}
.check-out-button a{
    margin: 0;
    text-decoration: none;
    background-color: transparent;
    color: #290149;
    border: 2px solid #290149;
    font-size: 15px;
    transition: .3s ease-in-out;
    font-weight: bold;
    display: block;
    border-radius: 3px;
    padding: 3px 5px;
    
}
.check-out-button a:hover{
    cursor: pointer;
    background-color: #290149;
    color: white;
    
}
.btn-continue{
    text-decoration: none;
    margin-top: 10px;
    border: none;
    transition: .3s ease-in-out;
    color: black;
    background-color: transparent;
    border: 1px solid #290149;
    border-radius: 3px;
    padding: 3px 15px;
}
.btn-continue:hover{
    text-decoration: none;
    color: white;
    background-color: #290149;
}
/* for product detail page */
.product-detail-img, .product-details{
    padding-top: 10px;
    
}
.product-detail-img img{
    width: 100%;
    height: 400px;
    

}

.product-details h1{
    color: #290149;
}
.product-details h4{
    color: #290149;
    padding: 10px 0;
}

.alert{
  padding: 5px;
  text-align: center;
}
.bg_error{
  background-color: red;
  color: white;
}
.bg_success{
  background-color: green;
  color: white;
}















@media screen and (max-width: 900px){
/* font sixe 15px */
p{
    font-size: 12 px;
}
.role-heading h3{
        font-size: 21px;
    }
    .checkout h5{
        font-size: 17px;
    }
    .checkout p{
        font-size: 15px;
    }
    .check-out-button a{
    font-size: 16px;
    padding: 3px;
    
    }
    .btn-continue{
    font-size: 16px;  
    padding: 3px;
    }
    .cart-img{
    border: 1px solid #DEE2E6;
    width: 50px;
    height: 50px;
    }
    td, th{
    font-size: 16px;
    }
}

@media screen and (max-width: 768px){
    .role-heading h3{
        font-size: 18px;
    }
    .checkout h5{
        font-size: 15px;
    }
    .checkout p{
        font-size: 13px;
    }
    .check-out-button a{
    font-size: 14px;
    padding: 3px;
    
    }
    .btn-continue{
    font-size: 14px;  
    padding: 3px;
    }
    .cart-img{
    border: 1px solid #DEE2E6;
    width: 50px;
    height: 50px;
}
    td, th{
        font-size: 13px;
    }
    /* for product details page */
    .product-details h1{
        font-size: 23px;
    }
    .product-details h4{
        font-size: 17px;
    }
    .product-details p{
        font-size: 14px;
    }
}