*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
  background-color: #290149;
} */
.item{
    padding: 0;
    margin-right: 0;
    max-width: 100%;
}
.owl-theme{
    padding: 0;
}
.card{
    width: 100%;
    padding: 10px;
}
.owl-theme {
    margin: 0;
}